
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/MouseTranck.iml
.idea/vcs.xml
__pycache__/First.cpython-37.pyc
__pycache__/MouseTranck.cpython-37.pyc
.idea/workspace.xml
__pycache__/recordWindow.cpython-37.pyc
